*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    font-family: "Bona Nova SC", serif;
}
 body{
    background-position: center;
    background-image: url("../src/uemgsbricks.jpeg");
    background-repeat: repeat;
    background-size: contain;
 }
section{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 90vw;
            margin: 5vw;
            padding: 1vw;
            overflow-wrap: break-word;
        }
        header, p{ width: 80%; }
     p{ margin: 5px; }
        header{
            display: flex;
            flex-direction: column;
            justify-content: left;
            margin: 5%;
           *{
                margin: 1%;
                list-style: none;
             }
         h1{ font-size: larger; }
            div{
            flex-direction: row;
            justify-content: center;
          img{
            width: 5%;
            margin: 0;
        }
             }
        }
        main, .twoColumns{
            display: grid;
            grid-template-columns: repeat(3, 32%);
            grid-column-gap: 3%;
        }
        .outlineStyle{
            outline-style: ridge;
            outline-width: 0.8rem;
            outline-color: black;
        }
        .cube{
            background-color: blanchedalmond;
            font-size: 90%;
            img{ width: 100%; }
        }
        .long{ overflow: auto; }
        .twoColumns{
            grid-template-columns: repeat(2, 50%);
            grid-column-gap: auto;
        }
